<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>
</head>

<body>

  <div class="dashboard-container">
    <div class="navbar">
      <!-- Logo Section -->
      <div class="navbar-logo">
        <img src="assets/swift.jpeg" alt="Logo">
        <span><strong>SwiftLoan Customer</strong></span>
        <button class="toggle-btn" (click)="toggleSidebar()">
          <i class="fas fa-bars"></i>
        </button>
      </div>

      <!-- Menu Section -->
      <div class="navbar-menu">
        <a routerLink="loanschemes">Available Loan Schemes</a>
        <a routerLink="appliedloans">Applied Loans</a>
        <a href="userdashboard/viewapprovedloans">Active Loans</a>
        <!-- <a routerLink="payment">View EMI</a> -->
        <a routerLink="queries">Queries</a>
        <a routerLink="updateprofile">Update Profile</a>
        <!-- <a [routerLink]="['/userdashboard/queries']" [queryParams]="{ userId: 1 }" routerLinkActive="active">
          Queries
        </a> -->




      </div>
      <div class="right">
        <div class="profile">
          <!-- <a routerLink="updateprofile"><img src="assets/profile.png" alt="profile" width="30px" height="30px"></a> -->
        </div>
        <div class="logout">
          <button (click)="logOut()">Logout</button>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</body>

</html>